
#calculador{
    width: 500px;
    height: 430px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
}

#formula{
    height:49px;
}
#resultado{
    height: 49px;
    border-bottom: 1px dashed gray;
}
.display{
    width: 98%;
    border: 1px solid black;
    margin: 6px;
    height: 100px;
    text-align: right;
    font-size: 29px;
    padding: 0px 10px;
    background-color: #f6f6f6;
    border-radius: 4px;

}

.btn-calc{
    border: 1px solid gray;
    background: re;
    border-radius: 2px;
    padding: 6px 1px;
    box-shadow: 2px 2px 0px #333;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 90%;
}

button:hover {
    cursor: pointer;
    background-color: rgb(182, 178, 178);
   }
button:active {
    background-color: rgb(136, 136, 136);
   }

.fila{
    height: 50px;
}
.columna{

    text-align: center;
}




.w100{
    width: 100%;
    float: left;
}


.w20{
    width: 20%;
    float: left;
}

.w40{
    width: 40%;
    float: left;
}
.w45{
    width: 45%;
    float: left;
}