
body{
    background-color: #f5cb9c;
}

#calculador{
    width: 300px;
    /* height: 430px; */
    margin: 0 auto;
    border: 1px solid rgba(68, 84, 154, 0.455);
    padding: 10px;
    background-color: rgb(77, 160, 223);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
#botonera{
    display: grid;
    grid-gap:3px;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(4,auto);
}
#formula{
    height:49px;
}
#resultado{
    height: 49px;
    border-bottom: 1px dashed gray;
}
.display{
    width: 98%;
    border: 1px solid black;
    margin: 6px;
    height: 100px;
    text-align: right;
    font-size: 29px;
    padding: 0px 10px;
    background-color: #f2c9f7;
    border-radius: 4px;
    box-shadow: -1px 5px 0px #332c2c;
    

}

.btn-calc{
    border: 3px solid gray;
    background: re;
    border-radius: 6px;
    padding: 6px 1px;
    box-shadow: 2px 2px 0px #333;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 85%;
    background-color: rgba(93, 123, 198, 0.511);
}

button:hover {
    cursor: pointer;
    background-color: rgb(182, 178, 178);
   }
button:active {
    background-color: rgb(136, 136, 136);
   }

#encendido{
    background-color: rgb(220, 46, 46);

}
#apagado{
    background-color: rgb(20, 140, 20);
}
